{% extends "layout.html" %}
{% block content %}

    <style>
        label.select::after {
            top: 13px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#select').change(function() {
            var current = $('#select').val();
            if (current != 'null') {
                $('#select').css('color','black');
                $('#select').css('border-bottom', 'solid 0.23em #000000');
            } else {
                $('#select').css('color','#777');
            }
            }); 
        });
    </script>

    <form action="/investidor/conexao/editar/{{ conexao[0] }}" method="POST" class="cadastro">
        <h1><strong>EDITAR CONTATO</strong></h1>
        <div class="row center">
            <div class="col-sm-6">
                <label style="margin: 20px 0 0 25px;">Tipo de Contato</label>
                <label class="select">
                    <select required id="select" name="TipoContato" style="color: black; border-bottom: solid 0.23em #000000; margin-top: 0;">
                        <option disabled value="null">Tipo de Contato</option>
                        {% for tipo in enumerables.TipoContato %}
                            {% if tipo.value == conexao[3] %}
                                <option value={{tipo.value}} style="color: black;" selected>{{ tipo.name }}</option>
                            {% else %}
                                <option value={{tipo.value}} style="color: black;">{{ tipo.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>        
            </div>
        </div>
        <div class="row center">
            <div class="col-sm-6">
                <label style="margin: 20px 0 0 25px;">Contato</label>
                <input placeholder="Contato" name='Contato' id='Contato' value='{{ conexao[4] }}' style="margin-top: 0;" required>
            </div>
        </div>
        <div class="center">
            <button type="submit">editar</button>
        </div>
    </form>

{% endblock %}