{% extends "layout.html" %}
{% block content %}
    <style>
        .center input:focus {
            background-size: 400px 100%;
        }
        
    </style>

    <form action="/banker/criar" method="POST" class="cadastro">
        <h1><strong>CADASTRO NOVO BANKER</strong></h1>
        <div class="center">
            <input placeholder="Nome" name='Nome' id='Nome' style="width: 400px;" required>
        </div>
        <div class="center">
            <button type="submit">cadastrar</button>
        </div>
    </form> 

{% endblock %}