{% extends "layout.html" %}
{% block content %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.money').mask('000.000.000.000.000,00', {reverse: true});
            $('#select').change(function() {
            var current = $('#select').val();
            if (current != 'null') {
                $('#select').css('color','black');
                $('#select').css('border-bottom', 'solid 0.23em #000000');
            } else {
                $('#select').css('color','#777');
            }
            }); 
        });
    </script>

    <form action="/unidade/criar/{{ id }}" method="POST" class="cadastro">
        <h1><strong>CADASTRO NOVA UNIDADE</strong></h1>
        <div class="row">
            <div class="col-sm-6">
                <input placeholder="Unidade" name='Unidade' id='Unidade' required>
            </div>
            <div class="col-sm-6">
                <input placeholder="Andar" name='Andar' id='Andar' required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input placeholder="Bloco" name='Bloco' id='Bloco' required>
            </div>
            <div class="col-sm-6">
                <input class="money" placeholder="Área Privativa (m²)" name='Area' id='Area' required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input class="money" placeholder="Valor" name='Valor' id='Valor' required>
            </div>
            <div class="col-sm-6">
                <label class="select">
                    <select id="select" name="Status" style="color: #777;">
                        <option selected disabled value="null">Status</option>
                        {% for tipo in enumerables.StatusUnidade %}
                            <option value={{tipo.value}} style="color: black;">{{ tipo.name }}</option>
                        {% endfor %}
                    </select>
                </label>            
            </div>
        </div>
        <div class="center">
            <button type="submit">cadastrar</button>
        </div>
    </form> 

{% endblock %}